/* CUSTOM PROPS */
:root {
  --navbar-color: #000000;
  --main-top-color: #080b12;
  --main-content-color: #141922;
  --player-color: #282828;
  --navbar-text-color: #696969;

  /* LAYOUT */
  --player-height: 100px;
  --navbar-width: 200px;
  --basic-gap: 8px;
}


/* RESET */

body {
  background-color: var(--main-content-color);
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

li {
  display: inline-block;
}

/* UTILS */

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
  margin-top: 40px;
}

/* GRID */

.row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

[class*="col"] {
  padding: 15px;
}

.col-1-3 {
  width: calc(100% / 3);
}

.col-2-3 {
  width: calc(100% / 3 * 2);
}

.col-1-2 {
  width: 50%;
}

.col-1-6 {
  width: calc(100% / 6);
}

/* DEBUG */

.debug {
  min-height: 80px;
  background-color: #777;
  padding: 2rem;
}

/* APP TOP */

#app-top {
  height: calc(100vh - var(--player-height)); 
  display: flex;
}

/* APP NAVBAR */

#app-navbar {
  width: var(--navbar-width);
  background-color: var(--navbar-color);
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: var(--navbar-text-color);
  overflow: scroll;
}

#app-navbar > img {
  width: 75%;
  margin-bottom: 15px;
}

#app-navbar .menu {
  display: flex;
  align-items: center;
  gap: var(--basic-gap);
  font-size: small;
  margin-top: 10px;
}

#app-navbar .menu svg {
  height: 30px;
  fill: var(--navbar-text-color);
}

#app-navbar .playlist {
  margin-top: 20px;
}

#app-navbar .playlist h5 {
  color: white;

}

#app-navbar .playlist .crea-playlist {
  margin: 10px 0;
  display: flex;
  gap: var(--basic-gap);
  align-items: center;
}

#plus {
  background-color: #a3a3a3;
  color: black;
  width: 40px;
  height: 40px;
  justify-content: center;
  display: flex;
  align-items: center;
}

#app-navbar .playlist li {
  margin: var(--basic-gap) 0;
  font-size: small;
}

#app-navbar .install {
  display: flex;
  margin-top: auto;
  border-bottom: 1px solid var(--navbar-text-color);
  padding-bottom: var(--basic-gap)
}

#app-navbar .install span:first-child {
  font-size: small;
  display: flex;
  gap: var(--basic-gap);
  align-items: center;
}

#app-navbar .user {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: var(--basic-gap);
  color: white;
  font-size: small;
  font-weight: 600;
}

#app-navbar .user #p-picture {
  background-color: var(--navbar-text-color);
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app-navbar .user svg {
  height: 1rem;
  fill: white;
  display: block;
}

/* APP MAIN */

#app-main {
  flex-grow: 1;
  overflow: scroll;
}

/* upgrade bar */

#app-main #upgrade-bar {
  height: 70px;
  background-color: var(--main-top-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#app-main #upgrade-bar button {
  background-color: inherit;
  border: 1px solid white;
  color: white;
  padding: 10px 30px;
  border-radius: 30px;
  margin-right: 5px;
}

/* end of upgrade bar */

#app-main .top-menu {
  margin-top: 20px;
}

#app-main .top-menu ul {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  color: var(--navbar-text-color);
  font-size: small;
  gap: 16px;
}

#app-main .container h2 {
  margin-bottom: 10px;
}

#app-main .container h2,
#app-main .container h3 {
  color: white;
  font-weight: bold;
}

#app-main .container .row {
  margin-top: 20px;
  margin-bottom: 20px;
}

#app-main .card {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: var(--basic-gap);
}

#app-main span {
  color: var(--navbar-text-color);
}







/* APP PLAYER */

#app-player {
  background-color: var(--player-color);
  height: var(--player-height);
}

/* MEDIA QUERY */

@media all and (max-width: 552px) {
  
  :root {
    --navbar-width: 50px;
  }


  #app-navbar {
    width: var(--navbar-width);
  }
}